@font-face {
  font-family: 'rdr';
  src: url('src/shared/styles/base/fonts/chineserocks.ttf') format('truetype');
}

@font-face {
  font-family: 'rdr_crock';
  src: url('src/shared/styles/base/fonts/crock.ttf') format('truetype');
}

@font-face {
  font-family: 'hapna-slab'; // nss-tip-rdr
  src: url('src/shared/styles/base/fonts/HapnaSlabSerif-DemiBold.ttf') format('truetype');
}